[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	label-Verified = -1..+1 group Fascinate Team
	label-Verified = -1..+1 group SGS Administrators
	label-Code-Review = -2..+2 group Fascinate Team
	label-Code-Review = -2..+2 group SGS Administrators
	submit = group Fascinate Team
	submit = group SGS Administrators
	push = group Fascinate Team
	create = group Fascinate Team
[project]
	state = active
[access "refs/tags/*"]
	create = group Fascinate Team
	push = group Fascinate Team
